<!-- src/app/users/user-form.html -->
<div class="max-w-lg mx-auto mt-8 bg-white p-6 rounded shadow">
  <h2 class="text-xl font-semibold mb-4">Ajouter un utilisateur</h2>

  <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">
    <div>
      <label class="block text-sm font-medium text-gray-700">Username</label>
      <input formControlName="username" type="text" class="w-full border p-2 rounded" placeholder="Entrez le nom d'utilisateur" />
      <div *ngIf="form.get('username')?.invalid && form.get('username')?.touched" class="text-red-500 text-sm mt-1">
        Nom requis (min 3 caractères)
      </div>
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700">Email</label>
      <input formControlName="email" type="email" class="w-full border p-2 rounded" placeholder="ex: vous@domaine.com" />
      <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-red-500 text-sm mt-1">
        Email invalide
      </div>
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700">Mot de passe</label>
      <input formControlName="password" type="password" class="w-full border p-2 rounded" placeholder="Mot de passe" />
      <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-red-500 text-sm mt-1">
        Mot de passe requis (min 6 caractères)
      </div>
    </div>

    <button (click)="submit()"  class="w-full bg-sky-600 text-white py-2 rounded" [disabled]="form.invalid">
      Ajouter l'utilisateur
    </button>
  </form>
</div>
